* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.registro-usuario-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fondo-registro-usuario, .header-fondo-registro-usuario {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.fondo-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-fondo-registro-usuario{
    position: absolute;
    top: 0;
    left: 0;
    height: 35%;
    width: 100%;
    z-index: -1;
}

.header-imagen{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.registro-usuario-overlay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: calc(100% - 45%);
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 1;
}

.registro-usuario-container-left {
    width: 30%;
    padding: 10px 60px 0px 80px;
    transform: translateX(30%);
}

.registro-usuario-container-right {
    padding: 150px 300px 0px 0px;
    display: flex;
    flex-direction: column;
    transform: translateX(-30%);
}

.group-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.registro-usuario-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.btn-registrar {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #183762;
    color: white;
    border: none;
    border-radius: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.group-buttons {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.btn-redes {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 3px solid #183762;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.icono-facebook, .icono-gmail {
    width: 50px;
    height: 30px;
}

@media (max-width: 767px) {
    .registro-usuario-overlay {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .registro-usuario-container-left,
    .registro-usuario-container-right {
        width: 100%;
        padding: 10px;
    }

    .registro-usuario-input,
    .btn-registrar,
    .btn-redes {
        font-size: 14px;
        padding: 8px;
    }

    .btn-registrar {
        padding: 10px;
    }
}
