.custom-form {
  width: 100%;
  max-width: 60%;
  padding: 30px;
  background: rgba(184, 186, 189, 0.2); /* Fondo con transparencia */
  border-radius: 30px; /* Bordes redondeados */
  backdrop-filter: blur(15px); /* Desenfoque */
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  text-align: center;
}

.custom-form button:hover {
  background-color: #1565C0;
}
