.custom-form-campeo {
  display: flex;
  flex-direction: column;
  align-items: flex-init;
  justify-content: center;
  width: 60%;
  max-width: 600px;
  padding: 40px; /* Reducimos el padding */
  background: rgba(255, 255, 255, 0.44);
  border-radius: 10px;
  gap: 20px;
  min-height: 80vh; /* Mantiene una altura mínima en pantallas grandes */
  max-height: none; /* Permite que crezca según el contenido */
   /* Solo activa el scroll si es necesario */
}
  

.title-perfil-cam{
  text-align: center;
  color: white; 
  margin-bottom: 10px; /* Espaciado adecuado */
  max-width: 100%; /* Evita que se desborde */
  word-wrap: break-word; /* Si es muy largo, hace salto de línea */
  flex-shrink: 0;
  justify-content: center;
}

.form-subtitle {
  font-size: 1rem;
  color: #d8d9da;
  text-align: center;
  margin-bottom: 20px;
}

.form-subtitle-2{font-size: 1rem;
  color: #d8d9da;
  text-align: justify;
  margin-bottom: 5px;}

.form-buttons {
  display: flex;
  margin-top: 5px;
  width: 125%;
}

.form-buttons-2 {
  display: flex;
  margin-top: 5px;
  width: 120%;
}

.button-agre{
  margin-top: 7px;
}

.form-select {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 135%;
}
.form-jugador-row {
  display: flex;
  gap: 20px;
  width: 750px;
  margin-bottom: 10px;
}

.form-jugador-row > * {
  flex: 1;
  min-width: 0; /* Para evitar overflow */
}

.campeonatos-container {
    background-color: transparent;
    width: 90%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.registro-jugadores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  margin-top: 20px;
}

.registro-jugadores {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.equipo-info {
  flex: 1; /* ancho fijo para el lado izquierdo */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  color: white;
  height: fit-content; /* evita que se estire innecesariamente */
}

.jugadores-form {
  flex: 2; /* que crezca según lo necesario */
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 8px;
  color: white;
  max-height: 500px;
  /* por si hay muchos jugadores */
}


